/*:root {
    --colNum: 100;
    --sqSize: 50px;
}*/
body {
    display: flex;
    flex-direction: column;
    color: #2e5266;
    background-color: #acbed8;;
}

h1 {
    display: flex;
    justify-content: center;
}
#sketchContainer {
    background-color: #e8ebf7;
    display: grid;
    max-height: 960px;
    max-width: 1440px;
    margin-bottom: 15px;
}
.row {
    display: grid;
    grid-template-columns: repeat(var(--colNum), auto);
    grid-template-rows: 100%;
}
.sq {
    color: blueviolet;
    border-style: solid;
    border-color: black;
    border-width: .05em;
    height: 15px;
}
.colored {
    background-color: black; 
    border-style: solid;
    border-color: black;
    border-width: .05em;
    /*height: MAKE SAME AS .sq HEIGHT*/
}
#restart {
    min-height: 40px;
    max-height: 150px;
    min-width: 80px;
    max-width: 200px;
    background-color: #f25f5c;
    border: none;
    color: #2e5266;
    text-align: center;
}